#filter CleanOutput

	<link rel="stylesheet" type="text/css" href="ipmap/css/displayMap.css">
	<link rel="stylesheet" href="ipmap/js/jquery-jvectormap.css" type="text/css" media="screen"/>

	#set $m = $len($country_codes)
	#set $j = 0

     <div id = "marker_list" style = "display : none;">   
     	  #for $el in $alert_list	
	  #if $el[3]
$el[3], $el[4]?$el[1]?$el[7]?$el[0]!
	  #end if
	  #end for
     </div>

     <div id = "country_list" style = "display : none;">   
#for $el in $country_codes
$el,
#end for
     </div>
   

<div class = "row">
	     <div class = "col-md-8">
	     	  <fieldset>
			<div id="map" class = "to_reload" style="width: 825px; height: 550px"></div>
		  </fieldset>

	     </div>

	     <div class = "col-md-4">
	     	  <div class ="row">
		       <div class = "col-md-4 col-tri">
		       	    <button id="All" class = "tri">All</button>
			    #while $j < $m
			    <button id="$country_codes[$j]" class = "tri">$country_list[$j]</button>
			    #set $j = $j + 1
			    #end while
		       </div>
		       #set $j = 0
		       <div class = "col-md-8">
		       	    <fieldset class = "liste_ip">
			    	      #for $el in $alert_list
				      #if $el[3]
				      <div id = "$j" class = "alert_data $el[2] $el[6]"> 
				      	   $el[1]</br>
				      	   Source : $el[0]</br>
				      	   Location : $el[5]
				      </div>
				      #end if
				      #set $j+=1
				      #end for
			   </fieldset>
		       </div>
		   </div>
	       </div>
	   </div>

<script type="text/javascript">
     	     \$LAB
	     .script("ipmap/map_js/jquery-jvectormap.js")
  	     .script("ipmap/map_js/lib/jquery-mousewheel.js")
  	     .script("ipmap/map_js/src/jvectormap.js")
  	     .script("ipmap/map_js/src/abstract-element.js")
  	     .script("ipmap/map_js/src/abstract-canvas-element.js")
  	     .script("ipmap/map_js/src/abstract-shape-element.js")
  	     .script("ipmap/map_js/src/svg-element.js")
  	     .script("ipmap/map_js/src/svg-group-element.js")
  	     .script("ipmap/map_js/src/svg-canvas-element.js")
  	     .script("ipmap/map_js/src/svg-shape-element.js")
  	     .script("ipmap/map_js/src/svg-path-element.js")
  	     .script("ipmap/map_js/src/svg-circle-element.js")
  	     .script("ipmap/map_js/src/svg-image-element.js")
  	     .script("ipmap/map_js/src/svg-text-element.js")
  	     .script("ipmap/map_js/src/vml-element.js")
  	     .script("ipmap/map_js/src/vml-group-element.js")
  	     .script("ipmap/map_js/src/vml-canvas-element.js")
  	     .script("ipmap/map_js/src/vml-shape-element.js")
  	     .script("ipmap/map_js/src/vml-path-element.js")
  	     .script("ipmap/map_js/src/vml-circle-element.js")
  	     .script("ipmap/map_js/src/vml-image-element.js")
  	     .script("ipmap/map_js/src/map-object.js")
  	     .script("ipmap/map_js/src/region.js")
  	     .script("ipmap/map_js/src/marker.js")
  	     .script("ipmap/map_js/src/vector-canvas.js")
  	     .script("ipmap/map_js/src/simple-scale.js")
  	     .script("ipmap/map_js/src/ordinal-scale.js")
  	     .script("ipmap/map_js/src/numeric-scale.js")
  	     .script("ipmap/map_js/src/color-scale.js")
  	     .script("ipmap/map_js/src/legend.js")
  	     .script("ipmap/map_js/src/data-series.js")
  	     .script("ipmap/map_js/src/proj.js")
  	     .script("ipmap/map_js/src/map.js")  	
	     .script("ipmap/map_js/tests/assets/jquery-jvectormap-world-mill-en.js")	
  	     .script("ipmap/js/affichage_map.js")
	     .script("ipmap/js/getData.js")
  	     .script("ipmap/js/alert_animation.js").wait(function(){
	    						    
           jQuery(document).ready(function(){
	   create_ipmap();
	   add_map_data();	
           create_sortbuttons();
		});
	   });
</script>



#end filter